*{
  /*width: 100%;*/
  padding: 0px;
  margin: 0px;
}
#header{
  width: 100%;
  padding-top: 10px;
  padding-bottom: 10px;
  background-color: red;

}
#header h1, #header h2, #logoff{
  display: inline;
  color: black;
}
#or{
  text-decoration: underline;
}

#header h1{
  margin-right: 5%;
  margin-left: 3%;
}
#header a{
  margin-left: 2%;
  margin-right: 2%;
  text-decoration: none;
}
input{
  margin-top: 20px;
  width: 200px;
  height: 20px;
  margin-left: 20px;
  border-radius: 10px;
  display: inline;
  margin-bottom: 50px;
}
#orderby{
  float: right;
  margin-top: 20px;
  margin-right: 20px;
}
#orderby, form {
  display: inline;
}
#orderby select{
  margin-left: 20px;
}

table {
  border-collapse: collapse;
  margin-left: 100px;
  width: 80%;
}
th {
    height: 50px;
}
td, th {
  border: 1px solid #999;
  padding: 0.5rem;
  text-align: left;
}
tr:nth-child(even) {background-color: #f2f2f2}
th {
    background-color: red;
    color: white;
}
